<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>Admin</filter-name>
        <filter-class>Filters.AdminFilter</filter-class>
    </filter>
    <filter>
        <filter-name>UserFilter</filter-name>
        <filter-class>Filters.UserFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>Admin</filter-name>
        <url-pattern>/Admin/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>UserFilter</filter-name>
        <url-pattern>/Tools/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>BackupServlet</servlet-name>
        <servlet-class>BackupUtility.BackupServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>chooseServelt</servlet-name>
        <servlet-class>Servletss.chooseServelt</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loginverify</servlet-name>
        <servlet-class>controller.loginverify</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Signup</servlet-name>
        <servlet-class>controller.Signup</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignupServlet</servlet-name>
        <servlet-class>controller.SignupServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TextFileUpload</servlet-name>
        <servlet-class>imageStegno.TextFileUpload</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ImageUpload</servlet-name>
        <servlet-class>imageStegno.ImageUpload</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AudioUpload</servlet-name>
        <servlet-class>Audiosteg.AudioUpload</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AudioDecode</servlet-name>
        <servlet-class>Audiosteg.AudioDecode</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>play</servlet-name>
        <servlet-class>Audiosteg.play</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VideoUpload</servlet-name>
        <servlet-class>Videosteg.VideoUpload</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VideoDecode</servlet-name>
        <servlet-class>Videosteg.VideoDecode</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ImageDecoder</servlet-name>
        <servlet-class>imageStegno.ImageDecoder</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Decryption</servlet-name>
        <servlet-class>imageStegno.Decryption</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Encryption</servlet-name>
        <servlet-class>imageStegno.Encryption</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Desktop</servlet-name>
        <servlet-class>ScreenR.Desktop</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Mail</servlet-name>
        <servlet-class>Contact.Mail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditPassword</servlet-name>
        <servlet-class>controller.EditPassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Adminverify</servlet-name>
        <servlet-class>controller.Adminverify</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditPasswordAdmin</servlet-name>
        <servlet-class>controller.EditPasswordAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>userTable</servlet-name>
        <servlet-class>UserInformation.userTable</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateServlet</servlet-name>
        <servlet-class>controller.UpdateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteServlet</servlet-name>
        <servlet-class>controller.DeleteServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BackupServlet</servlet-name>
        <url-pattern>/BackupServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>chooseServelt</servlet-name>
        <url-pattern>/chooseServelt</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loginverify</servlet-name>
        <url-pattern>/loginverify</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Signup</servlet-name>
        <url-pattern>/Signup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignupServlet</servlet-name>
        <url-pattern>/SignupServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TextFileUpload</servlet-name>
        <url-pattern>/TextFileUpload</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ImageUpload</servlet-name>
        <url-pattern>/ImageUpload</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AudioUpload</servlet-name>
        <url-pattern>/AudioUpload</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AudioDecode</servlet-name>
        <url-pattern>/AudioDecode</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>play</servlet-name>
        <url-pattern>/play</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VideoUpload</servlet-name>
        <url-pattern>/VideoUpload</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VideoDecode</servlet-name>
        <url-pattern>/VideoDecode</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ImageDecoder</servlet-name>
        <url-pattern>/ImageDecoder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Decryption</servlet-name>
        <url-pattern>/Decryption</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Encryption</servlet-name>
        <url-pattern>/Encryption</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Desktop</servlet-name>
        <url-pattern>/Desktop</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Mail</servlet-name>
        <url-pattern>/Mail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditPassword</servlet-name>
        <url-pattern>/EditPassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Adminverify</servlet-name>
        <url-pattern>/Adminverify</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditPasswordAdmin</servlet-name>
        <url-pattern>/EditPasswordAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>userTable</servlet-name>
        <url-pattern>/userTable</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateServlet</servlet-name>
        <url-pattern>/UpdateServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteServlet</servlet-name>
        <url-pattern>/DeleteServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
